*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }
html {
  margin: 0;
  padding: 0;
}
body {
  background-color: white;
  font-family: sans-serif;
  background: url(../img/space.jpg);
  background-repeat: none;
  margin: 0;
  padding: 0;
}

.header {
  background-color: #B53535;
  height: 7em;
  margin-top: 0;
  margin-bottom: 10px;
  position: relative;
}

#header {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(0, -50%);
}

#skull {
  float: left;

}

.animal-card-content-wrapper {
  position: relative;
  display: inline-block;
}

.animal-card-content-wrapper:before {
    content: url(../img/red-pin.png);
}

.animal-card-content-wrapper:focus {
    pointer-events: none;
    outline: none !important;
}

#abbotts-booby-click:focus #abbotts-booby,
#ailao-spiny-toad-click:focus #ailao-spiny-toad,
#black-and-gold-tanager-click:focus #black-and-gold-tanager,
#bowmouth-guitarfish-click:focus #bowmouth-guitarfish,
#chacoan-naked-tailed-armadillo-click:focus #chacoan-naked-tailed-armadillo,
#eyrean-grasswren-click:focus #eyrean-grasswren,
#great-curassow-click:focus #great-curassow,
#hoolock-gibbon-click:focus #hoolock-gibbon,
#zululand-black-millipede-click:focus #zululand-black-millipede,
#yellow-footed-rock-wallaby-click:focus #yellow-footed-rock-wallaby {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.animal-card-content {
    position: absolute;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: visibility 0.5s;
    background-color: #20963B;
    border-radius: 10%;
    padding: 0 2em 1em 2em;
}

.animal-image {
  border-radius: 3em;
}

.container {
  position: relative;
  display: inline;
}

#map {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1000;
  border-radius: 50%;
}

.abbotts-booby {
  position: absolute;
  top: 31em;
  left: 85em;
}

.ailao-spiny-toad{
  position: absolute;
  top: 16em;
  left: 82em;
}

.black-and-gold-tanager {
  position: absolute;
  top: 23em;
  left: 29em;
}

.bowmouth-guitarfish {
  position: absolute;
  top: 26em;
  left: 91em;
}

.chacoan-naked-tailed-armadillo {
  position: absolute;
  top: 33em;
  left: 33em;
}

.eyrean-grasswren {
  position: absolute;
  top: 37em;
  left: 91em;
}

.great-curassow {
  position: absolute;
  top: 23em;
  left: 33em;
}

.hoolock-gibbon {
  position: absolute;
  top: 16em;
  left: 78em;
}

.zululand-black-millipede {
  position: absolute;
  top: 35em;
  left: 58em;
}

.yellow-footed-rock-wallaby {
  position: absolute;
  top: 39em;
  left: 94em;
}

a:visited, a:link {
  color: inherit;
}

h2 {
  text-align: center;
  text-decoration: none;
}
